<div class="span12">
  <h2>Resend confirmation instructions</h2>

  <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-vertical' }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email %>

    <%= f.submit t('users.resend_confirmation'), :class => 'btn btn-primary' %>
  <% end %>
  <%= link_to t('users.sign_in'), new_user_session_path %><br />
  <%= render 'devise/shared/links' %>
</div>
