<div class="row">
  <div class="large-3 columns">
    <div class="user-sidebar">
      <a href="/#!/users/{{user.id}}" class="th radius">
        <img ng-src="{{user.avatar.medium.url}}" width="{{user.avatar.medium.width}}" height="{{user.avatar.medium.height}}" />
      </a>
      <ul class="side-nav">
        <li><a href="#"><i class="icon-group"></i> Friends</a></li>
        <li><a href="#"><i class="icon-camera-retro"></i> Photos</a></li>
        <li><a href="#"><i class="icon-folder-open"></i> Files</a></li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="user-posts">
      <h5 class="subheader"><a href="/#!/users/{{user.id}}" class="user-posts_title">{{user.fullname}}</a></h5>

      <div class="user-posts_profile">

        <div class="row user-posts_profile_field">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.user.status') %>:</b>
          </div>
          <div class="large-9 columns">
            <span ng-class="{success: user.online, secondary: !user.online, label: true}" ng-switch on="user.online">
              <span ng-switch-when="true">{{"users.online" | translate}}</span>
              <span ng-switch-default>{{"users.offline" | translate}}</span>
            </span>
          </div>
        </div>

        <div class="row user-posts_profile_field" ng-show="user.age != null && user.age > 0">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.age') %>:</b>
          </div>
          <div class="large-9 columns">
            {{user.age | yearsOld}}
          </div>
        </div>

        <div class="row user-posts_profile_field">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.gender') %>:</b>
          </div>
          <div class="large-9 columns">
            {{"profiles.gender." + user.gender | translate}}
          </div>
        </div>

        <div class="row user-posts_profile_field" ng-show="user.bio != null && user.bio.length > 0">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.bio') %>:</b>
          </div>
          <div class="large-9 columns">
            {{user.bio}}
          </div>
        </div>

      </div>

      <form name="postForm" ng-submit="sendWallMessage()" class="user-posts_form">
        <textarea ng-model="message_wall.body" ui-keydown="{ 'ctrl-13': 'sendWallMessage()' }" class="user-posts_form_input"></textarea>
        <button type="submit" class="button small"><%= t('posts.send') %></button>
      </form>

      <%= render 'static/partials/wall' %>
    </div>
  </div>
</div>
