.row
  .span4
    .user-info
      = link_to '/#!/profile', class: 'user-link' do
        %img{ 'ng-src' => '{{current_user.avatar.small}}' }
        = '{{current_user.first_name}} {{current_user.nickname}} {{current_user.last_name}}'
  .span8
    %h2 Stream
    = form_tag '', name: 'postForm', 'ng-submit' => 'sendStatus()', class: 'user-status' do
      = text_area_tag '', nil, 'ng-model' => 'status_message.body', 'ui-keydown' => '{ \'ctrl-13\': \'sendStatus()\' }'.html_safe, class: 'status-message', placeholder: 'What happened?'
      .actions
        = button_tag type: 'submit', class: 'btn btn-success' do
          Send

    = render 'wall'
