.row
  .span3
    .user-info
      = link_to '/#!/u/{{user.id}}', class: 'user-link' do
        %img{ 'ng-src' => '{{user.avatar.medium}}' }

      .info{ 'ng-show' => 'user.bio.length' }
        %h2 About
        = '{{user.bio}}'

  .span9
    .clearfix
      .user-name.pull-left
        %h1= '{{user.first_name}} {{user.nickname}} {{user.last_name}}'
      .pull-right
        .friendStatus{ 'ng-switch' => '', 'on' => 'user.friend' }
          = button_tag type: 'button', class: 'friendStatus__add btn btn-success', 'ng-click' => 'addToFriends()', 'ng-switch-when' => false do
            %i.icon.icon-plus.icon-white
            Add to friend list
          = button_tag type: 'button', class: 'friendStatus__approve btn btn-success', 'ng-click' => 'approveToFriends()', 'ng-switch-when' => 'waiting' do
            %i.icon.icon-ok.icon-white
            Approve to be added to friend list
          .friendStatus__pending{ 'ng-switch-when' => 'pending' } Pending to be added to friend list
          .friendStatus__friends{ 'ng-switch-when' => 'friend' } You are friends
