<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="vanilla"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vanilla</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <%= stylesheet_link_tag :application, :media => 'all' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <!-- Nvabar //-->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Vanilla", '/#!/home', :class => 'brand' %>

        <div class="nav-collapse collapse">
          <!-- Main menu //-->
          <ul class="nav">
            <li>
              <%= link_to '/#!/messages' do -%>
                <i class="icon-comment"></i>
                Messages
              <% end -%>
            </li>
            <li>
              <%= link_to '/#!/notifications' do -%>
                <i class="icon-globe"></i>
                Notifications
              <% end -%>
            </li>
          </ul>

          <!-- System menu //-->
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i>
                Username
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit profile', '/#!/profile/edit' %></li>
                <li><%= link_to 'Settings', edit_user_registration_path %></li>
                <li><%= link_to t('users.sign_out'), destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>

          <!-- Search //-->
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search..." on-search="" />
            <div class="icon-search"></div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= render('shared/notice', :notice => notice) if notice.present? %>
        <%= render('shared/alert', :alert => alert) if alert.present? %>
      </div>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag :application %>
</body>
</html>